::selection{
    color: #fff;
    background: rgb(18, 160, 113);
}
body{
    font-family: sans-serif;
    background: #2a2d2e;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    transition: all .5s;
}
img{
    width: 120px;
}
.container{
    background: #141414;
    border-radius: 5px;
    width: 350px;
    height: auto;
    color: #b3b8cd;
    transition: all .5s;
    text-align: center;
    perspective:150px;
    opacity: 0.91;
    overflow: auto;
   box-shadow: 0 10px 50px 0px rgba(0,0,0,.75), 0 10px 0 0 #0471a3;
}
.banner{
    background: url(../img/bg.jpg);
    height: 160px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}
.profile{
    padding: 0 0 0 0;
}
.pfp{
    width: 120px;
    margin: -40px 0 0 -190px;
    border-radius: 50%;
    height: 120px;
    background: #141414;
    border: 8px solid transparent;
}
.profile-name{
    font-size: 25px;
    font-weight: bold;
    margin: -72px 0 0 145px;
    transition: all .5s;
    animation: neon-light 2s ease-in-out infinite;
}
@keyframes neon-light {
    0%{
        box-shadow: none;
    }
    50%{
        background: #182f3a;
        box-shadow: 0 10px 50px -10px rgba(0,0,0,.75), 0 0 20px 0 #0471a3;
    }
    100%{
        box-shadow: none;
    }
}
.content{
    padding: 2rem 0 0 0 ;
}
.about{
    margin: 10px 0 20px 20px;
    word-spacing: 2px;
}
.profile-name:hover{
    text-decoration: underline;
    transition: all .5s;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.links li{
    display: inline-flex;
    margin-top: 1rem;
}
.links li a{
    color: #b3b8cd;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid transparent;
    border-radius: .5rem;
    margin-right: 10px;
    transition: all .5s;
}
.links li a:hover{
    color: rgb(25, 170, 170);
    border: 1px solid transparent;
    box-shadow: 0 10px 50px -10px rgba(0,0,0,.75), 0 0 20px 0 #0471a3;
}
.btns{
    margin-top: 1rem;
    padding: 0 ;
}
.msg-btn,.follow-btn{
    padding: 10px 1.5rem;
    font-size: 1.2rem;
    outline: none;
    border-radius: .3rem;
    cursor: pointer;
    margin-right: 8px;
    transition: all .5s;
}
.msg-btn{
    border: 2px solid #0471a3;
    background: #0471a3;
}
.msg-btn:hover{
 background: hsl(199, 95%, 23%);
 color: initial;   
 border: 2px solid hsl(199, 95%, 23%);
 box-shadow: 0 10px 50px -10px rgba(0,0,0,.75), 0 0 20px 0 #0471a3;

}
.follow-btn{
    background: transparent;
    border: 2px solid #0471a3;
    color: #0471a3;
}
.follow-btn:hover{
    background: #0471a3;
    color: #141414;
    box-shadow: 0 10px 50px -10px rgba(0,0,0,.75), 0 0 20px 0 #0471a3;
}
.msg-btn:hover,.follow-btn:hover{
    transform: scale(0.9);
}
@media (max-width: 400px) {
    body{
        min-height: 100vh;
    }
    .btns{
        padding: 0 1rem;
    }
    .msg-btn,.follow-btn{
        width: 100%;
        margin-top: 1rem;
    }
    .profile-name{
        font-size: 25px;
        margin: 0px 0 0 0px;
    }
    .pfp{
        margin: -40px 0 0 0px;
    }
    .about{
        margin: 0px 0 0px 0px;
    }
}
