::selection{
    color: #fff;
    background-color: rgb(7, 253, 171);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
    margin-left: 50vh;
    transition: 250ms ease-in-out;
    background: linear-gradient(1000deg,rgb(83, 235, 164),74%,#ccc);
}
.card{
    margin-top: 10vh;
    border: 1px solid #ccc;
    height: 310px;
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
    resize: both;
    transition: 250ms ease-in-out;
    text-align: center;
    align-items: center;
    padding: 10px 10px;
    background-color: #fff;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.24);
}
.card-head{
    color: #000;
}
.card-img{
    border: 1px solid #ccc;
    height: 80px;
    width: 80px;
    border-radius: 50px;
    text-align: left;
    cursor: pointer;
    transition: 250ms ease-in-out;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.24);

}
.card-info{
    cursor: text;
}
.card-info li{
    list-style: none;
    position: relative;
    bottom: 95px;
}
.abt-btn{
    padding: 5px 30px;
    border: 1px solid rgb(4, 170, 247);
    border-radius: 20px;
    background-color: transparent;
    color: rgb(4, 170, 247);
    transition: 250ms ease-in-out;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.24);
}
.abt-btn:hover{
    border: 1px solid transparent;
    color: #fff;
    background-color: rgb(4, 170, 247);
    transition: 250ms ease-in-out;
}
.abt-btn1{
    padding: 5px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #04aaf7;
    color: #fff;
    transition: 250ms ease-in-out;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.24);
}
.abt-btn1:hover{
    border: 1px solid rgb(4, 170, 247);
    color: #fff;
    background-color: hsl(199, 97%, 59%);
    transition: 250ms ease-in-out;
}
.card:hover{
    background-color: #dedede;
}
.card-img:hover{
    background-color: #dedede;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.24);
}
#btns{
    display: inline-block;
}
footer{
    background-color: transparent;
    color: #000;
    border: 1px solid #ccc;
    width: auto;
    height: auto;
    transition: 250ms ease-in-out;
    resize: both;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.24);
}
footer:hover{
    color: #fff;
    background-color: #000;
}
footer a{
    text-decoration: none;
    color: #04aaf7;
    
}
footer a:hover{
    color: hsl(199, 97%, 39%);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.24);
}
.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
  }
  .skeleton-1{
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
    margin-left: 2rem;
  }
  
  .skeleton-load {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
    margin-left: 19vh;
  }
  .skeleton-btns {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
    padding: 5px 30px;
    border-radius: 20px;
    transition: 250ms ease-in-out;
    cursor: pointer;
  }
  
  .skeleton-text {
    width: inherit;
    position: relative;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
  }
  
  .skeleton-text:last-child {
    margin-bottom: 0;
    width: 80%;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
  @media(max-width: 400px){
    body{
        margin: 0;
    }
    .card{
        margin-left: .5vh;
        max-width: 363px;
        margin-right: .5vh;
        height: 315px;
    }
    .card-head,.card-info,.abt-btn,.abt-btn1{
        max-width: none;
    }
    .card-info{
        margin-top: .5rem;
    }
    .abt-btn,.abt-btn1{
        margin-bottom: .25rem;
    }
    .card-info{
        font-size: 15px;
    }
    .card-img{
        height: 70px;
        width: 70px;
        border-radius: 50px;
    }
    .card-head{
        font-size: 13px;
        margin-bottom: 20px;
    }
    .card-info{
    list-style: none;
    position: relative;
}
    .abt-btn,.abt-btn1{
        width: 80%;
    }

}
@media(max-width: 500px){
    body{
        margin: 0;
    }
    .card{
        margin-left: 1.5vh;
        width: 453px;
        margin-right: 4.5vh;
    }

}
/*
@media(max-width: 600px){
    body{
        text-align: center;
        background: linear-gradient(1000deg,rgb(83, 235, 164),74%,#ccc);
    }
    .card{
        width: 700px;
        height: 420px;
        box-shadow: 0 22px 66px 0 rgba(0,0,0,0.24),0 27px 60px 0 rgba(0,0,0,0.24);
    }
    .card-head{
        font-size: 20px;
    }
    .card-img{
        height: 110px;
        width: 110px;
        border-radius: 70px;
    }
    .card-info{
        font-size: 20px;
    }
    .card-info li{
        position: relative;
        bottom: 110px;
        right: 30px;
    }
    .abt-btn,.abt-btn1{
        padding: 20px 40px;
        border-radius: 60px;
        font-size:  18.5px;
    }
    p{
        font-size: 20px;
    }
    footer{
        text-align: center;
        margin-right: 2rem;
        border-radius: 5px;
        width: 700px;
        margin-left: 10px;
    }
} */
@media(min-width: 700px){
    body{
        text-align: center;
        background: linear-gradient(1000deg,rgb(83, 235, 164),74%,#ccc);
    }
    .card{
        width: 700px;
        height: 420px;
        box-shadow: 0 22px 66px 0 rgba(0,0,0,0.24),0 27px 60px 0 rgba(0,0,0,0.24);
    }
    .card-head{
        font-size: 20px;
    }
    .card-img{
        height: 110px;
        width: 110px;
        border-radius: 70px;
    }
    .card-info{
        font-size: 20px;
    }
    .card-info li{
        position: relative;
        bottom: 110px;
        right: 30px;
    }
    .abt-btn,.abt-btn1{
        padding: 20px 40px;
        border-radius: 60px;
        font-size:  18.5px;
    }
    p{
        font-size: 20px;
    }
    footer{
        text-align: center;
        margin-right: 2rem;
        border-radius: 5px;
        width: 700px;
        margin-left: 10px;
    }
}
